<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="utf-8">
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
  <style>body { font-size: 1.3em; }</style>
  <title>Module1-Solution</title>
</head>
<body ng-app="whatsForLunch" align="center">

  <h1>Lunch Check Assignment</h1>

  <div class="container">
  <div ng-controller='LunchCheckController'>
  <h2>What's for lunch?</h2> <br />
  <form ng-controller="Whats for Lunch?">
  
  <textarea class="form-control" rows="3" ng-model="foodName"id="foodName" value="" placeholder="What did you eat for lunch?"></textarea>
  </form>

<button ng-click="sayMessage"()>"Check If Too Much"</button> <br />


  <div ng-controller="">
      <div>

    </div>
    <div>T
      {{totalValue}}</div>
  </div>
</body>
</html>
